name: test

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".github/dependabot.yml"

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - "**.md"
      - ".github/dependabot.yml"

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        dockerfile:
          - ubuntu-focal-mysql
          - ubuntu-focal-mariadb
          - ubuntu-jammy-mysql
          - ubuntu-jammy-mariadb

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: true

      - name: Enable docker layer caching
        uses: actions/cache@v3
        id: cache
        with:
          path: /tmp/image.tar
          key: v1-${{ runner.os }}-docker-${{ matrix.dockerfile }}-${{ github.sha }}
          restore-keys:
            v1-${{ runner.os }}-docker-${{ matrix.dockerfile }}

      - name: Load Docker image layer cache
        run: docker load -i /tmp/image.tar | true

      - run: docker build --cache-from=isucon-itamae:latest --file dockerfiles/${DOCKERFILE}.dockerfile --tag isucon-itamae:latest .
        env:
          DOCKERFILE: ${{ matrix.dockerfile }}

      - name: Save Docker image layer cache
        run: docker save isucon-itamae:latest -o /tmp/image.tar

      - run: docker run --privileged -d --name isucon-itamae_app_1 isucon-itamae:latest /sbin/init

      - run: bundle exec rake test:itamae
        env:
          LOG_LEVEL: info

      - run: bundle exec rake test:clean
        if: always()

      - name: Slack Notification (not success)
        uses: lazy-actions/slatify@master
        if: "! success()"
        continue-on-error: true
        with:
          job_name: ${{ format('*build* ({0})', matrix.dockerfile) }}
          type: ${{ job.status }}
          icon_emoji: ":octocat:"
          url: ${{ secrets.SLACK_WEBHOOK }}
          token: ${{ secrets.GITHUB_TOKEN }}

  notify:
    needs:
      - test

    runs-on: ubuntu-latest

    steps:
      - name: Slack Notification (success)
        uses: lazy-actions/slatify@master
        if: always()
        continue-on-error: true
        with:
          job_name: '*build*'
          type: ${{ job.status }}
          icon_emoji: ":octocat:"
          url: ${{ secrets.SLACK_WEBHOOK }}
          token: ${{ secrets.GITHUB_TOKEN }}
